html {
    font-size: medium;
}

pre {
    font-size: large;
}

.comment-container > div {
    white-space:normal;
    vertical-align:top;
    margin:1ex;
}

.comment-container > div pre {
    overflow:auto;
}

/* debug */
.comment-container > div {
    border: 1px solid #999;
    padding: 1ex;
    margin: 0.25ex;
}