html {
    font-size: medium;
    font-family: Verdana,Geneva,sans-serif;
}

body {
    overflow-x:hidden;
}

.view-frame {
    position: absolute;
    top:0; right:0; bottom:0; left:0;

    .down & {
        &.ng-enter {
            transform:translateX(100%);
            transition: .2s ease-out all;

            &.ng-enter-active {
                transform:translateX(0%);
            }
        }

        &.ng-leave {
            transform:translateX(0%);
            transition: .2s ease-out all;

            &.ng-leave-active {
                transform:translateX(-100%);
            }
        }
    }

    .up &  {
        &.ng-enter {
            transform:translateX(-100%);
            transition: .2s ease-out all;

            &.ng-enter-active {
                transform:translateX(0%);
            }
        }

        &.ng-leave {
            transform:translateX(0%);
            transition: .2s ease-out all;

            &.ng-leave-active {
                transform:translateX(100%);
            }
        }
    }

    @-webkit-keyframes bounce {
        0% { transform: translate(0%); }
        50% { transform: translate(-10%); }
        100% { transform: translate(0%); width:100%; }
    }

    .bounce & {
        -webkit-animation-name: bounce;
        -webkit-animation-duration: 200ms;
        -webkit-transform-origin: 50% 50%;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
    }
}

.comment-container {
    position:absolute;
    top:0; right:0; bottom:0; left:0;

    .comment {
        white-space:normal;
        vertical-align:top;
        margin:3em 1ex;

         pre {
             overflow:auto;
         }

         p {
             margin-bottom: 0;
             margin-top: 1em;
         }

         .comment-footer {
             font-size: small;
             font-style: italic;
             margin: .5ex 0;
             padding-left: 1em;
             color: #666;

             .comment-footer-right {
                 float: right;
             }
         }
    }
}
